<article class="card trip-card">
  <img
    class="card-img-top trip-image"
    [src]="'assets/images/' + trip.image"
    [alt]="trip.name + ' travel destination'">

  <div class="card-body">
    <div class="trip-card-heading">
      <h2 class="card-title">{{ trip.name }}</h2>

      <span class="trip-code">
        {{ trip.code }}
      </span>
    </div>

    <p class="trip-resort">
      {{ trip.resort }}
    </p>

    <div class="trip-details">
      <span>{{ trip.length }}</span>
      <span>
        {{ trip.perPerson | currency:'USD':'symbol' }}
        per person
      </span>
    </div>

    <div
      class="card-text trip-description"
      [innerHTML]="trip.description">
    </div>
  </div>

  <div *ngIf="isLoggedIn()" class="card-footer">
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="editTrip(trip)">
      Edit Trip
    </button>
  </div>
</article>